<!DOCTYPE html>
<html>

<head>
    <title>Password Reset</title>
</head>

<body>
    <p>Hello {{ first_name }},</p>
    <p>You are receiving this email because you requested a password reset for your Placemate account.</p>
    <p>Please go to the following link to reset your password:</p>
    <p><a href="https://your-frontend-domain.com/reset-password/{{ token }}/">Reset My Password</a></p>
    <p>If you did not request this, please ignore this email.</p>
    <p>Thanks,<br>The Placemate Team</p>
</body>

</html>